@section scripts {
    <script src="@Url.Content("~/Scripts/App/Samples/combobox2_3.js")"></script>
}

<style scoped>
    h2 {
        margin-bottom: 40px;
    }

    dt, dd {
        float: left;
    }
</style>

<div id="app" >
    <h2>テンプレートを使う</h2>

    <div class="row">
        <div class="col-md-4">
            <label>Customer</label>
            <input id="drp_customer" type="text"
                   data-role="combobox"
                   data-value-field="CustomerID"
                   data-text-field="CustomerID"
                   data-bind="source: dataSource, value: Customer" 
                   data-template="tpl_drp_customer"
                   style="width: 100px;"/>

            <script id="tpl_drp_customer" type="text/x-kendo-tmpl">
                <dl><dt style="width:80px;">${ data.CustomerID }</dt><dd>${ data.CompanyName }</dd></dl>
            </script>
        </div>

        <div class="well col-md-4" >
            <p> <label>Customer ID</label> <span data-bind="text: Customer.CustomerID"></span> </p>
            <p> <label>Company Name</label> <span data-bind="text: Customer.CompanyName"></span> </p>
        </div>

    </div>

    @Html.Partial("_SourceCode", 
        new { javascript = "combobox2_3", html = "ComboBox2_3", link = "api/javascript/ui/combobox#configuration-template" })
</div>


