@section scripts {
    <script src="@Url.Content("~/Scripts/App/Samples/combobox3.js")"></script>
}

<style scoped>
    h2 {
        margin-bottom: 40px;
    }

    dt, dd {
        float: left;
    }
</style>

<div id="app" >
    <h2>コンボボックスのカスケード</h2>

    <div class="row">
        <div class="col-md-2">
            <label>Region</label>
            <input id="drp_region" type="text"
                   data-role="combobox"
                   data-value-field="RegionID"
                   data-text-field="RegionDescription"
                   data-bind="source: regionList, value: region"
                   data-template="tpl_drp_region"
                   style="width: 100px;" />

            <script id="tpl_drp_region" type="text/x-kendo-tmpl">
                <dl><dt style="width:80px;">${ data.RegionID }</dt><dd>${ data.RegionDescription }</dd></dl>
            </script>
        </div>

        <div class="col-md-2">
            <label>Territory</label>
            <input id="drp_territory" type="text"
                   data-role="combobox"
                   data-value-field="TerritoryID"
                   data-text-field="TerritoryDescription"
                   data-cascade-from="drp_region"
                   data-bind="source: territoryList, value: territory"
                   data-template="tpl_drp_territory"
                   style="width: 100px;" />

            <script id="tpl_drp_territory" type="text/x-kendo-tmpl">
                <dl><dt style="width:80px;">${ data.TerritoryID }</dt><dd>${ data.TerritoryDescription }</dd></dl>
            </script>
        </div>

        <div class="col-md-2">
            <label>Employee</label>
            <input id="drp_employee" type="text"
                   data-role="combobox"
                   data-value-field="EmployeeID"
                   data-text-field="FirstName"
                   data-cascade-from="drp_territory"
                   data-bind="source: employeeList, value: employee"
                   data-template="tpl_drp_employee"
                   style="width: 100px;" />

            <script id="tpl_drp_employee" type="text/x-kendo-tmpl">
                <dl><dt style="width:80px;">${ data.EmployeeID }</dt><dd>${data.FirstName} ${data.LastName}</dd></dl>
            </script>
        </div>

        <div class="well col-md-6" >
            <p> <label>Region ID</label> <span data-bind="text: region.RegionID"></span> </p>
            <p> <label>Region Description</label> <span data-bind="text: region.RegionDescription"></span> </p>
            <p> <label>Territory ID</label> <span data-bind="text: territory.TerritoryID"></span> </p>
            <p> <label>Territory Description</label> <span data-bind="text: territory.TerritoryDescription"></span> </p>
            <p> <label>Employee ID</label> <span data-bind="text: employee.EmployeeID"></span> </p>
            <p> <label>Employee Name</label> <span data-bind="text: getEmployeeName"></span> </p>
        </div>
    </div>

    @Html.Partial("_SourceCode",
        new { javascript = "combobox3", html = "ComboBox3", link = "api/javascript/ui/combobox#configuration-cascadeFrom" })
</div>


