@section scripts {
    <script src="@Url.Content("~/Scripts/App/Samples/combobox1.js")"></script>
}

<style scoped>
    h2 {
        margin-bottom: 40px;
    }

    .div-kendolink {
        margin-top:40px;
    }
</style>

<div id="app" >
    <h2>コンボボックスを使う</h2>

    <div class="row">
        <div class="col-md-4">
            <label>Customer</label>
            <input id="combobox" type="text"
                   data-role="combobox"
                   data-value-field="CustomerID"
                   data-text-field="CompanyName"
                   data-bind="source: dataSource, value: Customer" 
                   style="width: 200px;"/>
        </div>

        <div class="col-md-4" >
            <div class="well">
                <p> <label>Customer ID</label> <span data-bind="text: Customer.CustomerID"></span> </p>
                <p> <label>Company Name</label> <span data-bind="text: Customer.CompanyName"></span> </p>
            </div>
        </div>

    </div>


    <div class="well div-kendolink">
        <a href="//docs.telerik.com/kendo-ui/api/javascript/ui/combobox" target="_blank">Kendo UI site...</a>
    </div>
</div>


