@section scripts {
    <script src="@Url.Content("~/Scripts/App/Samples/grid2.js")"></script>
}

<style scoped>
    h2 {
        margin-bottom: 40px;
    }

    .criteria {
        margin-bottom: 10px;
    }

    .bottom {
        padding-top: 1.8em;
    }

</style>

<div id="app" >
    <h2>検索条件で絞り込む</h2>

    <div class="row criteria">
        <div class="col-md-2">
            <label>Category</label>
            <input type="text"
                   data-role="combobox"
                   data-value-field="CategoryID"
                   data-text-field="CategoryName"
                   data-value-primitive="true"
                   data-bind="source: categoryList, value: criteria.category_id, events: { change: refreshProductList }"
                   data-template="tpl_drp_category"
                   data-height="400"
                   style="width: 140px;" />

            <script id="tpl_drp_category" type="text/x-kendo-tmpl">
                <dl><dt style="width:40px;">${ data.CategoryID }</dt><dd>${ data.CategoryName }</dd></dl>
            </script>
        </div>

        <div class="col-md-2">
            <label>Product Name</label>
            <input type="text" data-bind="value: criteria.product_name, events: { keyup: refreshProductList }" data-value-update="keyup"
                   class="k-textbox" style="width: 120px;" />
        </div>

        <div class="col-md-2 bottom" >
            <label>
                <input type="checkbox" data-bind="checked: criteria.active_only, events: { change: refreshProductList }"  />
                Active Only
            </label>
        </div>

        <div class="col-md-2 bottom" >
            <button class="btn btn-primary" data-bind="events: { click: refreshProductList }">Refresh</button>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-6">
                <span data-bind="text: productList.total()"></span> records found.
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div id="grid"
                 data-role="grid"
                 data-selectable="row"
                 data-resizable="true"
                 data-sortable="true"
                 data-bind="source: productList"
                 data-height="500"
                 data-columns="[
                    { field: 'CategoryName', title: 'Category', width: '120px'},
                    { field: 'ProductName', title: 'Product Name'},
                    { field: 'SupplierName', title: 'Supplier', width: '300px'}
                 ]"
                ></div>
        </div>
    </div>

    @Html.Partial("_SourceCode",
        new { javascript = "grid2", html = "Grid2", link = "api/javascript/ui/grid" })
</div>


