<div id="editWindow"
     data-role="window"
     data-visible="false"
     data-title="Region Detail"
     data-modal="true"
     data-min-width="460"
     data-width="460"
     style="display:none;" >

    <style scoped>
        .buttons {
            margin-top: 16px;
            margin-bottom: 16px;
            text-align:center;
        }

            .buttons .btn-save {
                width: 80px;
            }

            .buttons .btn-close {
                margin-left: 40px;
            }
    </style>

    <form id="editForm" class="form-horizontal" data-role="validator">
        <div class="form-group">
            <label for="txtRegionID" class="col-sm-2 control-label required">Region ID</label>
            <div class="col-sm-2">
                <input id="txtRegionID" type="text" 
                       data-bind="value: model.RegionID"
                       maxlength="5" readonly
                       class="form-control input-sm k-textbox" 
                       style="width:100px;"/>
            </div>
        </div>

        <div class="form-group">
            <label for="txtRegionDescription" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-8">
                <input id="txtRegionDescription" type="text"
                       data-bind="value: model.RegionDescription" maxlength="50"
                       class="form-control input-sm k-textbox " 
                       style="width: 200px;" />
            </div>
        </div>

        <div class="buttons">
            <input id="btnEditSave" type="button" value="Save" data-bind="click: onSave" class="btn btn-primary btn-save" />
            <input id="btnEditClose" type="button" value="Close" data-bind="click: onClose" class="btn btn-default btn-close" />
        </div>
    </form>
</div> 




